<div align="center" text-align="center" style="inline-block">

<img src="https://images.weserv.nl/?url=https://avatars.githubusercontent.com/u/81521595&shape=circle" height=200>

<br>

<img src="https://github.com/InioX/InioX/assets/81521595/59d1f678-fdc0-427f-a2de-d6a1a90c670a" width=350>

![footer](https://github.com/InioX/InioX/assets/81521595/7bd4b198-6031-4425-98a1-d4666cbb512c)

<h3 class="about-me">
     <sub>
          <!-- <img  src="https://github.com/InioX/InioX/assets/81521595/f42d0cce-ba58-4ccf-b008-7dc0434d88e4"
           height="25"
           width="25"> -->
     </sub>
     About me
</h3>

Electrical engineering student

Passionate about Linux

Can speak Czech, Slovak, English, Russian

I **REALLY** like Material Design 3

<h3 class="languages-and-tools">
     <sub>
          <!-- <img  src="https://github.com/InioX/InioX/assets/81521595/1fbe3355-94c6-4f86-a520-2dc06da9dddf"
           height="25"
           width="25"> -->
     </sub>
     Languages and tools
</h3>

![Rust](https://img.shields.io/badge/Rust-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=rust&logoColor={{ colors.on_primary.default.hex_stripped }})
![JavaScript](https://img.shields.io/badge/JavaScript-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=javascript&logoColor={{ colors.on_primary.default.hex_stripped }})
![TypeScript](https://img.shields.io/badge/TypeScript-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=typescript&logoColor={{ colors.on_primary.default.hex_stripped }})
![NodeJS](https://img.shields.io/badge/Node.js-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=node.js&logoColor={{ colors.on_primary.default.hex_stripped }})

![MongoDB](https://img.shields.io/badge/MongoDB-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=mongodb&logoColor={{ colors.on_primary.default.hex_stripped }})
![Python](https://img.shields.io/badge/Python-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=python&logoColor={{ colors.on_primary.default.hex_stripped }})
![Script](https://img.shields.io/badge/Shell_Script-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=gnu-bash&logoColor={{ colors.on_primary.default.hex_stripped }})
![Nix](https://img.shields.io/badge/Nix-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=nixos&logoColor={{ colors.on_primary.default.hex_stripped }})


<h3 class="operating-systems">
     <sub>
          <!-- <img  src="https://github.com/InioX/InioX/assets/81521595/f6012468-724d-4c11-b1ea-3084b53062b3"
           height="25"
           width="25"> -->
     </sub>
     Operating systems
</h3>

[![Android 13](https://img.shields.io/badge/Android%2013%20/%20RisingOS%201.4%20Elysium-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=android&logoColor={{ colors.on_primary.default.hex_stripped }})](https://www.android.com/android-13/)
![NixOS](https://img.shields.io/badge/NixOS-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=nixos&logoColor={{ colors.on_primary.default.hex_stripped }})

<h3 class="other">
     <sub>
          <!-- <img  src="https://github.com/InioX/InioX/assets/81521595/f6012468-724d-4c11-b1ea-3084b53062b3"
           height="25"
           width="25"> -->
     </sub>
     Other
</h3>

<div>
     <a href="https://github.com/InioX/matugen">
          <img align="center" src="https://github-readme-stats.vercel.app/api/pin?username=InioX&repo=matugen&title_color={{colors.on_surface.default.hex_stripped}}&icon_color={{colors.primary_fixed_dim.default.hex_stripped}}&text_color={{colors.on_surface_variant.default.hex_stripped}}&bg_color={{colors.surface_bright.default.hex_stripped}}&show_owner=true&hide_border=true" width=300/>
     </a>
     <a href="https://github.com/InioX/dotfiles">
          <img align="center" src="https://github-readme-stats.vercel.app/api/pin?username=InioX&repo=dotfiles&title_color={{colors.on_surface.default.hex_stripped}}&icon_color={{colors.primary_fixed_dim.default.hex_stripped}}&text_color={{colors.on_surface_variant.default.hex_stripped}}&bg_color={{colors.surface_bright.default.hex_stripped}}&show_owner=true&hide_border=true" width=300/>
     </a>
</div>
<br>
<a href="">
  <img height=200 align="center" src="https://github-readme-stats.vercel.app/api?username=InioX&hide_rank=true&show_icons=true&title_color={{colors.on_surface.default.hex_stripped}}&icon_color={{colors.primary_fixed_dim.default.hex_stripped}}&text_color={{colors.on_surface_variant.default.hex_stripped}}&bg_color={{colors.surface_bright.default.hex_stripped}}&hide_border=true&hide=contribs&hide_title=true" width=292 />
</a>
<a href="">
  <img align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=InioX&layout=compact&title_color={{colors.on_surface.default.hex_stripped}}&icon_color={{colors.primary_fixed_dim.default.hex_stripped}}&text_color={{colors.on_surface_variant.default.hex_stripped}}&bg_color={{colors.surface_bright.default.hex_stripped}}&hide_border=true&hide_title=true" height=138/>
</a>

![footer](https://github.com/InioX/InioX/assets/81521595/7bd4b198-6031-4425-98a1-d4666cbb512c)

![](https://img.shields.io/badge/Discord-@i.am.ini-{{ colors.surface_bright.default.hex_stripped }}?style=for-the-badge&logo=discord&logoColor={{colors.on_primary.default.hex_stripped}}&labelColor={{colors.primary.default.hex_stripped}})
![](https://img.shields.io/badge/Email-ini@cumallover.me-{{ colors.surface_bright.default.hex_stripped }}?style=for-the-badge&logo=gmail&logoColor={{colors.on_primary.default.hex_stripped}}&labelColor={{colors.primary.default.hex_stripped}})
![](https://img.shields.io/badge/Youtube-@i__am__ini-{{ colors.surface_bright.default.hex_stripped }}?style=for-the-badge&logo=youtube&logoColor={{colors.on_primary.default.hex_stripped}}&labelColor={{colors.primary.default.hex_stripped}})

<!--
**InioX/InioX** is a ✨ _special_ ✨ repository because its `README.md` (this file) appears on your GitHub profile.

Here are some ideas to get you started:

- 🔭 I’m currently working on ...
- 🌱 I’m currently learning ...
- 👯 I’m looking to collaborate on ...
- 🤔 I’m looking for help with ...
- 💬 Ask me about ...
- 📫 How to reach me: ...
- 😄 Pronouns: ...
- ⚡ Fun fact: ...
-->
